body{
    background-color: cadetblue;
}

p{
    font-size: 25px;
    font-weight: bold;
}

h1{
    text-align: center;
    font-family: cursive;
    font-size:30px;
    color: blue;
}

code{
    font-size: 20px;
    color: white;
    
   
}
div{
    margin:30px;
    background-color: rgb(24, 61, 131);
    
}